---
permalink: /404.html
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  <p class="bottom-three"></p>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">404</h2>
        <hr class="primary">
        <div class="text-center">
          Los hombrecillos que llevan el mantenimiento de la página se están echando la siesta.
        </div>
        <div class="text-center">
          Por favor, ruego respeten el descanso de mis esclavillos.
        </div>
      </div>
    </div>
  </div>
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>