---
permalink: /hola/
layout: hola
---

{% include link.html name="MASCARILLAS DONACIÓN" url="https://www.gofundme.com/f/espana-vs-coronavirus-mascarillas-aqui-ahora" color="#55CCD4" %}
{% include link.html name="#YoMeQuedoEnCasa VOL.I (Series, podcast, canales...)" url="https://www.youtube.com/watch?v=ftb6WB13q6o" color="#C7DAC7" %}
{% include link.html name="POLLO AL LIMÓN" url="https://laveganadepueblo.com/recetas/2020/03/09/Pollo-al-limon-vegano/" color="#FFB68D" %}
{% include link.html name="Entrevista BuenoYVegano" url="https://www.buenoyvegano.com/2020/02/11/veganismo-de-pueblo/" color="#FE8D7B" %}
{% include link.html name="SUSCRÍBETE AL CANAL" url="https://www.youtube.com/channel/UCpwpKnkPezvXFnVyzCWadIQ" color="#CE7382" %}
{% include link.html name="EBOOK GRATIS" url="https://laveganadepueblo.com/newsletter" color="#55CCD4" %}