---
permalink: /posts/
---

<!DOCTYPE html>
<html lang="en">

<style>
    .bottom-three {
        margin-bottom: 3cm;
    }
</style>




{% include head.html %}

<body id="page-top">
    {% include nav.html %}
    <section class="no-padding" id="portfolio">
        <p class="bottom-three">
        </p>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Últimos posts</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <ul>
            <div class="container-fluid">
                {% for post in site.posts %}
                {% capture modulo %}{{ forloop.index0 | modulo:3 }}{% endcapture %}
                {% if modulo == '0' or forloop.first %}
                <div class="row no-gutter">
                    {% endif %}
                    <div class="col-lg-4 col-sm-6">
                        <a href="{{ post.url }}" class="portfolio-box">
                            <img src="/img/portfolio/1.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        {{ post.title }}
                                    </div>
                                    <div class="project-name">
                                        {{ post.summary }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% if modulo == '2' or forloop.last %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </ul>

    </section>


    {% include contact.html %}
    {% include scripts.html %}
</body>

</html>