<section class="no-padding bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                </br>
                <h4 class="section-heading">Copyright © 2019 La Vegana De Pueblo | <a href="/aviso-legal">Aviso legal</a></h4>
                </br>
            </div>
            <div class="col-lg-4 text-right">
                </br>
                <h4 class="section-heading">built with <i class="fas fa-heart"></i> by <a href="https://vikepic.github.io" target="_blank">vikepic</a></h4>
                </br>
            </div>
        </div>
    </div>
</section>