<style>
    .link-button {
        margin-bottom: 1em;
        font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
        display: block;
        width: 100%;
        border: none;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
    }
</style>

<a href="{{ include.url }}" target="_blank" class="link-button"
    style="background-color:{{ include.color | default: "#ff9797" }};">{{ include.name }}</a>