<style></style>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">la vegana de pueblo</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown categories-desktop">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/posts">Posts
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="page-scroll" href="/posts/#consejos-y-ayuda"><i class="fa fa-seedling"></i>
                                Consejos y Ayuda</a></li>
                        <li><a class="page-scroll" href="/posts/#recetas"><i class="fa fa-utensils"></i> Recetas</a>
                        </li>
                        <li><a class="page-scroll" href="/posts/#rescate-animal"><i class="fa fa-paw"></i> Rescate
                                Animal</a></li>
                        <li><a class="page-scroll" href="/posts/#activismo"><i class="fa fa-heart"></i> Activismo</a>
                        </li>
                    </ul>
                </li>
                <li class="categories-mobile"><a href="/posts">Posts</a></li>
                <li class="categories-mobile"><a class="page-scroll" href="/posts/#consejos-y-ayuda"><i
                            class="fa fa-seedling"></i> Consejos y Ayuda</a></li>
                <li class="categories-mobile"><a class="page-scroll" href="/posts/#recetas"><i
                            class="fa fa-utensils"></i> Recetas</a></li>
                <li class="categories-mobile"><a class="page-scroll" href="/posts/#rescate-animal"><i
                            class="fa fa-paw"></i> Rescate Animal</a></li>
                <li class="categories-mobile"><a class="page-scroll" href="/posts/#activismo"><i
                            class="fa fa-heart"></i> Activismo</a></li>
                <li>
                    <a href="/newsletter">Newsletter</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contacto</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<script>
    function isMobileDevice() {
        return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
    };
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        var categoriesDesktop = document.getElementsByClassName("categories-desktop");
        while (categoriesDesktop.length > 0) {
            categoriesDesktop[0].remove();
        }
        document.getElementsByTagName('style')[0].innerHTML = ".navbar-header { float: none; } .navbar-toggle { display: block; } .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); } .navbar-collapse.collapse { display: none !important; } .navbar-nav { float: none !important; margin: 7.5px -15px; } .navbar-nav>li { float: none; } .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; } .navbar-text { float: none; margin: 15px 0; } /* since 3.1.0 */ .navbar-collapse.collapse.in { display: block !important; } .collapsing { overflow: hidden !important; }";
    }
    else {
        var categoriesMobile = document.getElementsByClassName("categories-mobile");
        while (categoriesMobile.length > 0) {
            categoriesMobile[0].remove();
        }
        document.getElementsByTagName('style')[0].innerHTML = "";
    }
</script>