<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Qué puedes encontrar aquí</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-seedling wow bounceIn text-primary"></i>
                    <h3>Consejos y Ayuda</h3>
                    <p class="small text-muted">Consejitos e ideas que te facilitarán el día a día.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-utensils wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Recetas</h3>
                    <p class="small text-muted">Recetas veganas sin ingredientes súper chungos y baratas.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paw wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Rescate Animal</h3>
                    <p class="small text-muted">Toda la información que necesitas sobre recoger animalitos de la calle.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Activismo</h3>
                    <p class="small text-muted">Métodos de activismo utilizados en España y Europa súper accesibles.</p>
                </div>
            </div>
        </div>
    </div>
</section>
