<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sobre mí</h2>
                <hr>
                <h3 class="section-subheading text-muted">¿Quién es la persona detrás del blog?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/paula.jpeg" class="img-responsive img-circle" alt="">
                    <h4>Paula López</h4>
                    <p class="text-muted">Vegana de pueblo</p>
                    <ul class="list-inline social-buttons">
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="about-text">
                Creo en la alimentación y vida consciente, creativa e innovadora. En esa que va a cambiar el mundo, lo
                establecido, lo tradicional. Empujo un poco y me hago hueco en tu vida. Es hora de cambiar, todos lo
                saben; incluyéndote a ti.</br></br>
                Me encanta la cocina que unifica, por eso mi blog es apto para celíacos, veganos, para esos que tienen
                poco tiempo y para los amantes de la buena comida.</br></br>
                Desde mis fogones, mi casa y mi vida quiero generar un cambio en el sistema y mi mejor manera es
                abriéndote la puerta del veganismo y enseñándote lo fácil que puede llegar a ser cuando tenemos la
                información necesaria.</br></br>
                Pasa, enciende la luz, adéntrate en este pequeño pero gran mundo del veganismo...</br></br>
                Mi nombre es Paula, vivo en Mérida, soy de pueblo. Y vegana. Desde hace más de 5 años, en realidad. Y
                voy a acompañarte en todo este camino. Sáltate las normas, ya verás que es más fácil de lo que cuentan
                por ahí.
            </div>
            </div>
        </div>
    </div>
</section>