<!DOCTYPE html>
<html lang="en">

{% assign title = "La Vegana De Pueblo 🌱 Cómo ser vegana viviendo lejos de la urbe y no morir en el intento" %}
{% assign description = "Consejos, recetas, veterinaria y activismo para veganos sin un duro y lejos de la gran ciudad. ¡Suscríbete a mi newsletter para no perderte ninguno de mis posts!" %}
{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>