<!DOCTYPE html>
<html lang="en">

{% assign title = page.title | append: " 🌱 La Vegana De Pueblo" %}
{% assign description = page.summary | append: ". Suscríbete a mi newsletter para no perderte ninguno de mis posts!" %}
{% include head-advertising.html %}

<body id="page-top">
  {% include nav.html %}
  <section id="post">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading post-title">{{ page.title }}</h2>
          <hr class="primary">
        </div>
      </div>
      {{ content }}
      {% include comments.html %}
    </div>
  </section>
  {% include aside.html %}
  {% include contact.html %}
  {% include footer.html %}
</body>

</html>